{{> messages }}
{{#if username}}
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Grade:</td>
    <td>{{ grade }}</td>
  </tr>
  <tr>
    <td>Preferred Subject:</td>
    <td>{{ subject }}</td>
  </tr>
  <tr>
    <td>Preferred Time:</td>
    <td>{{ time }}</td>
  </tr>
  <tr>
    <td>Preferred Teaching Mode:</td>
    <td>{{ teachMode }}</td>
  </tr>
  <tr>
    <td>Preferred Tutor Fee:</td>
    <td>{{ fee }}</td>
  </tr>
  <tr>
    <td>Preferred Location:</td>
    <td>{{ location }}</td>
  </tr>
  <tr>
    <td>Self Introduction:</td>
    <td>{{ introduction }}</td>
  </tr>
</table>
{{/if}}